body {
  padding-top: 50px;
  position: relative;
}

#intro {
  position: relative;
}

.intro-text {
  text-align: center;
}

.profile-img {
  display: block;
  height:  200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.project {
  display: block;
  height: 300px;
  width: 310px;
  padding: 5px;
}

.project-thumbnail-container {
  height: 160px;
  position: relative;
}

.project-thumbnail {
  max-height: 160px;
  margin-top: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact-me {
  padding: 25px 0px 20px 0px;
}

.profile-footer {
  margin: 10pt 0pt 10pt 0pt
}

.social-button {
  font-size: 36pt;
}
